/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.c-title01 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    line-height: 1.5;
    padding-top: 3px;
}

.c-title02 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 7px;
    letter-spacing: 0.1em;
    color: #fff;
}
