/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-subtitle01 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #333;
    line-height: 2;
    letter-spacing: 0.1em;
}

.c-txt01 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
    line-height: 2;
    letter-spacing: 0.1em;
}

.c-txt02 {
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.1em;
}

.c-txt03 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
    line-height: 2;
    letter-spacing: 0.1em;
}

.c-txt04 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 0.1em;
    font-feature-settings: "palt";
    font-feature-settings: "palt";
    color: #fff;
}
