/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-subtitle01 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #333;
    line-height: 2;
    letter-spacing: 0.1em;
}

.c-txt01 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
    line-height: 2;
    letter-spacing: 0.1em;
}

.c-txt02 {
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.1em;
}
