/* Header
------------------------------------------------------------*/
.c-header {
    max-height: 80px;
    background-color: #fff;

    .l-header__container {
        margin-left: auto;
    }

    .c-header__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .c-header__left {
        display: flex;
        align-items: center;
    }

    .c-header__textsublogo {
        margin-left: 14px;
    }

    .c-header__textsublogo {
        font-size: 1.8rem;
        font-weight: 600;
        color: #333;
        letter-spacing: -0.02em;
    }

    .c-header__right {
        display: flex;
        align-items: center;
    }


    .c-header__list {
        display: flex;
    }

    .c-header__itemtext {
        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 0.1em;
        color: #333;
        line-height: 1.75;
        margin: 0 18px 0 19px;
        padding: 30px 0; 
    }
}

/* Main menu
------------------------------------------------------------*/

