<header class="c-header">
  <div class="l-header__container">
    <div class="c-header__body">
      <div class="c-header__left">
        <div class="c-header__logoblock">
          <a href="./">
            <picture>
              <img src="./assets/img/index_pc/logo.png" alt="IST logo">
            </picture>
          </a>
        </div>
        <a href="#" class="c-header__textblock">
          <span class="c-header__textsublogo">総合建設コンサルタント</span>
        </a>
      </div>
      <div class="c-header__right">
        <ul class="c-header__list">
          <li class="c-header__item">
            <a href="#" class="c-header__itemlink">
              <span class="c-header__itemtext">会社案内</span>
            </a>
          </li>
          <li class="c-header__item c-header__dropdownmenu">
            <a href="#" class="c-header__itemlink">
              <span class="c-header__itemtext">事業紹介</span>
            </a>
            <ul class="c-menulv1">
              <li class="c-menulv1__item">
                <a href="#" class="c-menulv1__link">
                  <span class="c-menulv1__itemtext">防災・減災業務</span>
                  <i class="fas fa-angle-right c-menulv1__iconarrow"></i>
                </a>
              </li>
              <li class="c-menulv1__item">
                <a href="#" class="c-menulv1__link">
                  <span class="c-menulv1__itemtext">ICT・BIM/CIM</span>
                  <i class="fas fa-angle-right c-menulv1__iconarrow"></i>
                </a>
              </li>
              <li class="c-menulv1__item">
                <a href="#" class="c-menulv1__link">
                  <span class="c-menulv1__itemtext">測量・設計業務</span>
                  <i class="fas fa-angle-right c-menulv1__iconarrow"></i>
                </a>
              </li>
              <li class="c-menulv1__item">
                <a href="#" class="c-menulv1__link">
                  <span class="c-menulv1__itemtext">調査業務</span>
                  <i class="fas fa-angle-right c-menulv1__iconarrow"></i>
                </a>
              </li>
            </ul>
          </li>
          <li class="c-header__item">
            <a href="#" class="c-header__itemlink">
              <span class="c-header__itemtext">実績紹介</span>
            </a>
          </li>
          <li class="c-header__item">
            <a href="#" class="c-header__itemlink">
              <span class="c-header__itemtext">技術資料</span>
            </a>
          </li>
        </ul>
        <div class="c-header__groupitembtn c-header__dropdownmenu">
          <a href="#" class="c-btn01 c-header__btn u-bg__green">
            <span class="c-btn01__text c-header__btntext ">採用情報</span>
          </a>
          <ul class="c-menulv1">
            <li class="c-menulv1__item">
              <a href="#" class="c-menulv1__link">
                <span class="c-menulv1__itemtext">私たちの仕事</span>
                <i class="fas fa-angle-right c-menulv1__iconarrow"></i>
              </a>
            </li>
            <li class="c-menulv1__item">
              <a href="#" class="c-menulv1__link">
                <span class="c-menulv1__itemtext">先輩社員の声</span>
                <i class="fas fa-angle-right c-menulv1__iconarrow"></i>
              </a>
            </li>
            <li class="c-menulv1__item">
              <a href="#" class="c-menulv1__link">
                <span class="c-menulv1__itemtext">募集要項</span>
                <i class="fas fa-angle-right c-menulv1__iconarrow"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="c-header__groupitembtn">
          <a href="#" class="c-btn01 c-header__btn u-bg__blue">
            <span class="c-btn01__text c-header__btntext ">お問い合わせ</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
