<header class="c-header">
  <div class="l-header__container">
    <div class="c-header__body">
      <div class="c-header__left">
        <div class="c-header__logoblock">
          <a href="./">
            <picture>
              <img src="./assets/img/index_pc/logo.png" alt="IST logo">
            </picture>
          </a>
        </div>
        <a href="#" class="c-header__textblock">
          <span class="c-header__textsublogo">総合建設コンサルタント</span>
        </a>
      </div>
      <div class="c-header__right">
        <ul class="c-header__list">
          <li class="c-header__item">
            <a href="#">
              <span class="c-header__itemtext">会社案内</span>
            </a>
          </li>
          <li class="c-header__item">
            <a href="#">
              <span class="c-header__itemtext">事業紹介</span>
            </a>
          </li>
          <li class="c-header__item">
            <a href="#">
              <span class="c-header__itemtext">実績紹介</span>
            </a>
          </li>
          <li class="c-header__item">
            <a href="#">
              <span class="c-header__itemtext">技術資料</span>
            </a>
          </li>
        </ul>
        <a href="#" class="c-btn01 c-header__btn u-bg__green">
          <span class="c-btn01__text c-header__btntext ">採用情報</span>
        </a>
        <a href="#" class="c-btn01 c-header__btn u-bg__blue">
          <span class="c-btn01__text c-header__btntext ">お問い合わせ</span>
        </a>
      </div>
    </div>
  </div>
</header>
